<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyunfu.product.mapper.ProPackageMapper">

    <select id="findAllPackage" resultType="com.xinyunfu.product.dto.ProDto" parameterType="Map">


    SELECT * from pp_product t
    <where>
        <if test="proName != null and proName !=''"> and t.pro_name like '%${proName}%'</if>
    </where>



    </select>


</mapper>