<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('商品属性值列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="formId">
				<div class="select-list">
					<ul>
						<li>
							属性id：<input type="text" name="propertyId"/>
						</li>

						<li>
							属性值：<input type="text" name="valueText"/>
						</li>
									<input type="hidden" name="proId" id="proId">
						<li>
							<select name="status">
								<option value="">请选择状态</option>
								<option value="0">启用</option>
								<option value="1">禁用</option>
								<option value="2">删除</option>
								<option value="99">待审核</option>
							</select>
						</li>

						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
									class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
									class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>


		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:proPropertyValue:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:proPropertyValue:remove')}]];
    var prefix = ctx + "system/proPropertyValue";

    $(function () {
        var proId =parent.$("#proId").val();
        console.log("======="+proId);
        $("#proId").val(proId);
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "商品属性值",
            showExport: true,
            columns: [{
                checkbox: true
            },{
				field : 'skuId',
				title : '序号',
				formatter: function (value, row, index) {
					return 1;
				}
			},
                {
                    field: 'valueId',
                    title: '属性值id',
                    visible: true
                },
                {
                    field: 'propertyId',
                    title: '属性id',
                    sortable: true
                },
                {
                    field: 'valueText',
                    title: '属性值',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if (row.status == 99) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.proId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.proId + '\')"><i class="fa fa-remove"></i>撤回</a>');
                            return actions.join('');
                        } else {
                        }
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>