<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('账户流水列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								订单父编号：<input type="text" name="superOrderNumber"/>
							</li>

							<li>
								订单编号：<input type="text" name="orderNumber"/>
							</li>

							<li>
								用户编号_支付方：<input type="text" name="userNo"/>
							</li>

							<li>
								支付成功后的支付编号：<input type="text" name="payNumber"/>
							</li>

							<li>
								付款账号：<input type="text" name="payAccNo"/>
							</li>

							<li>
								付款账号名称：<input type="text" name="payAccName"/>
							</li>

							<li>
								收款账号：<input type="text" name="receAccNo"/>
							</li>

							<li>
								收款名称：<input type="text" name="receAccName"/>
							</li>

							<li>
								付款金额：<input type="text" name="payAmount"/>
							</li>

							<li>
								交易时间：<input type="text" name="tranDate"/>
							</li>

							<li>
								交易类型：<input type="text" name="tranType"/>
							</li>

							<li>
								业务状态：<input type="text" name="busiStatus"/>
							</li>

							<li>
								是否可用（可用=1，禁用=0）：<input type="text" name="enable"/>
							</li>

							<li>
								创建时间：<input type="text" name="createdTime"/>
							</li>

							<li>
								创建人：<input type="text" name="createdBy"/>
							</li>

							<li>
								最后修改时间：<input type="text" name="updatedTime"/>
							</li>

							<li>
								最后修改人：<input type="text" name="updatedBy"/>
							</li>

							<li>
								：<input type="text" name="channel"/>
							</li>

							<li>
								：<input type="text" name="subject"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="xinyunfu:accFlow:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="xinyunfu:accFlow:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="xinyunfu:accFlow:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="xinyunfu:accFlow:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('xinyunfu:accFlow:edit')}]];
        var removeFlag = [[${@permission.hasPermi('xinyunfu:accFlow:remove')}]];
        var prefix = ctx + "xinyunfu/accFlow";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "账户流水",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '序号',
					visible: false
				},
				{
					field : 'superOrderNumber', 
					title : '订单父编号',
					sortable: true
				},
				{
					field : 'orderNumber', 
					title : '订单编号',
					sortable: true
				},
				{
					field : 'userNo', 
					title : '用户编号_支付方',
					sortable: true
				},
				{
					field : 'payNumber', 
					title : '支付成功后的支付编号',
					sortable: true
				},
				{
					field : 'payAccNo', 
					title : '付款账号',
					sortable: true
				},
				{
					field : 'payAccName', 
					title : '付款账号名称',
					sortable: true
				},
				{
					field : 'receAccNo', 
					title : '收款账号',
					sortable: true
				},
				{
					field : 'receAccName', 
					title : '收款名称',
					sortable: true
				},
				{
					field : 'payAmount', 
					title : '付款金额',
					sortable: true
				},
				{
					field : 'tranDate', 
					title : '交易时间',
					sortable: true
				},
				{
					field : 'tranType', 
					title : '交易类型',
					sortable: true
				},
				{
					field : 'busiStatus', 
					title : '业务状态',
					sortable: true
				},
				{
					field : 'enable', 
					title : '是否可用（可用=1，禁用=0）',
					sortable: true
				},
				{
					field : 'createdTime',
					title : '创建时间',
					sortable: true
				},
				{
					field : 'createdBy', 
					title : '创建人',
					sortable: true
				},
				{
					field : 'updatedTime',
					title : '最后修改时间',
					sortable: true
				},
				{
					field : 'updatedBy', 
					title : '最后修改人',
					sortable: true
				},
				{
					field : 'channel', 
					title : '',
					sortable: true
				},
				{
					field : 'subject', 
					title : '',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>