<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingyunfu.ebank.mapper.notice.EbankNoticeMapper">
    <select id="findAll" resultType="com.xingyunfu.ebank.domain.notice.EbankNoticeDTO">
        select * from ebank_notice
    </select>
</mapper>
