<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('商品类型分类列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								类目类型名称：<input type="text" name="channelTypeName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:proChannelType:add">
					<i class="fa fa-plus"></i> 添加
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "system/proChannelType";


        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                modalName: "商品类型分类",
		        showExport: true,
                columns: [
				{
					field : 'channelTypeId', 
					title : '类目类型编号',
                    sortable: true
				},
				{
					field : 'channelTypeName', 
					title : '类目类型名称',
					sortable: true
				},
				{
					field : 'remarks', 
					title : '备注',
					sortable: true
				},
				{
					field : 'createdTime', 
					title : '创建时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
                        return  `<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="$.operate.edit(`+row.channelTypeId+`)"><i class="fa fa-edit"></i>编辑</a>`
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>