<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingyunfu.ebank.mapper.festival.EbankFestivalMapper">
    <select id="findByYearAndMonthAndDay" resultType="com.xingyunfu.ebank.domain.festival.EbankFestivalDTO"
            parameterType="java.util.Map">
        select * from ebank_festival where years = #{years} and months = #{months} and days = #{days}
    </select>
</mapper>
