<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改版本')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-proHomeVersion-edit" th:object="${proHomeVersion}">
            <input id="versionId" name="versionId" th:field="*{versionId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">版本号：</label>
				<div class="col-sm-8">
					<input id="version" name="version" th:field="*{version}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">版本样式,采取1st:channel_type_id,2nd:channel_type_id的形式：</label>
				<div class="col-sm-8">
					<input id="style" name="style" th:field="*{style}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态，启用=0,禁用=1,删除=2：</label>
				<div class="col-sm-8">
					<input id="status" name="status" th:field="*{status}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createdTime" name="createdTime" th:field="*{createdTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createdBy" name="createdBy" th:field="*{createdBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="updatedTime" name="updatedTime" th:field="*{updatedTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改人：</label>
				<div class="col-sm-8">
					<input id="updatedBy" name="updatedBy" th:field="*{updatedBy}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/proHomeVersion";
		$("#form-proHomeVersion-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-proHomeVersion-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
