<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改店铺邮费模板')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-proFreight-edit" th:object="${proFreight}">
            <input id="freightId" name="freightId" th:field="*{freightId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">店铺id：</label>
				<div class="col-sm-8">
					<input id="storeId" name="storeId" th:field="*{storeId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否包邮,0包邮,1不包邮,2按地区包邮,3按金额包邮,4按件数包邮,：</label>
				<div class="col-sm-8">
					<input id="type" name="type" th:field="*{type}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">包邮条件：</label>
				<div class="col-sm-8">
					<input id="conditions" name="conditions" th:field="*{conditions}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">计算邮费,json格式保存：</label>
				<div class="col-sm-8">
					<input id="modes" name="modes" th:field="*{modes}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">默认邮费：</label>
				<div class="col-sm-8">
					<input id="defaultPostage" name="defaultPostage" th:field="*{defaultPostage}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remarks" name="remarks" th:field="*{remarks}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态,0启用,1禁用,2删除：</label>
				<div class="col-sm-8">
					<input id="status" name="status" th:field="*{status}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createdTime" name="createdTime" th:field="*{createdTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createdBy" name="createdBy" th:field="*{createdBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="updatedTime" name="updatedTime" th:field="*{updatedTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改人：</label>
				<div class="col-sm-8">
					<input id="updatedBy" name="updatedBy" th:field="*{updatedBy}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/proFreight";
		$("#form-proFreight-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-proFreight-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
