<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyunfu.report.dao.proxy.FansMapper">

  <select id="selectFansList" resultType="map">
             SELECT u.nick_name name,temp.num as num FROM cust_user u  JOIN  (select  referrer_no, IFNULL(count(0),0) num FROM  cust_user GROUP  BY referrer_no
             HAVING count(0) >0 order by count(0) desc limit 10) temp
             on u.user_no = temp.referrer_no ORDER BY num DESC
   </select>


</mapper>
