<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyunfu.report.dao.proxy.OrderMapper">

    <select id="selectOrderBuyCount"  resultType="map">
        select  IFNULL(DATE_FORMAT(created_date,'%Y-%m-%d'),'') name,
        IFNULL(COUNT(order_id),'')  num from  order_master GROUP  BY name
    </select>

</mapper>