<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.ProPayTypeMapper">
    
    <resultMap type="ProPayType" id="ProPayTypeResult">
        <result property="proId"    column="pro_id"    />
        <result property="payTypeId"    column="pay_type_id"    />
        <result property="status"    column="status"    />
        <result property="remarks"    column="remarks"    />
        <result property="createdTime"    column="created_time"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="updatedBy"    column="updated_by"    />
    </resultMap>
	
	<sql id="selectProPayTypeVo">
        select pro_id, pay_type_id, status, remarks, created_time, created_by, updated_time, updated_by from pro_pay_type
    </sql>
	
    <select id="selectProPayTypeList" parameterType="ProPayType" resultMap="ProPayTypeResult">
        <include refid="selectProPayTypeVo"/>
        <where>  
            <if test="proId != null "> and pro_id = #{proId}</if>
             <if test="payTypeId != null "> and pay_type_id = #{payTypeId}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="remarks != null  and remarks != '' "> and remarks = #{remarks}</if>
             <if test="createdTime!= null "> and created_time = #{createdTime}</if>
             <if test="createdBy != null  and createdBy != '' "> and created_by = #{createdBy}</if>
             <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
             <if test="updatedBy != null  and updatedBy != '' "> and updated_by = #{updatedBy}</if>
         </where>
    </select>
    
    <select id="selectProPayTypeById" parameterType="Long" resultMap="ProPayTypeResult">
        <include refid="selectProPayTypeVo"/>
        where pro_id = #{proId}
    </select>
        
    <insert id="insertProPayType" parameterType="ProPayType">
        insert into pro_pay_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="proId != null  ">pro_id,</if>
			<if test="payTypeId != null  ">pay_type_id,</if>
			<if test="status != null  ">status,</if>
			<if test="remarks != null  and remarks != ''  ">remarks,</if>
			<if test="createdTime!= null  ">created_time,</if>
			<if test="createdBy != null  and createdBy != ''  ">created_by,</if>
			<if test="updatedTime != null  ">updated_time,</if>
			<if test="updatedBy != null  and updatedBy != ''  ">updated_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="proId != null  ">#{proId},</if>
			<if test="payTypeId != null  ">#{payTypeId},</if>
			<if test="status != null  ">#{status},</if>
			<if test="remarks != null  and remarks != ''  ">#{remarks},</if>
			<if test="createdTime!= null  ">#{createdTime},</if>
			<if test="createdBy != null  and createdBy != ''  ">#{createdBy},</if>
			<if test="updatedTime != null  ">#{updatedTime},</if>
			<if test="updatedBy != null  and updatedBy != ''  ">#{updatedBy},</if>
         </trim>
    </insert>
	 
    <update id="updateProPayType" parameterType="ProPayType">
        update pro_pay_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="payTypeId != null  ">pay_type_id = #{payTypeId},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="remarks != null  and remarks != ''  ">remarks = #{remarks},</if>
            <if test="createdTime!= null  ">created_time = #{createdTime},</if>
            <if test="createdBy != null  and createdBy != ''  ">created_by = #{createdBy},</if>
            <if test="updatedTime != null  ">updated_time = #{updatedTime},</if>
            <if test="updatedBy != null  and updatedBy != ''  ">updated_by = #{updatedBy},</if>
        </trim>
        where pro_id = #{proId}
    </update>

	<delete id="deleteProPayTypeById" parameterType="Long">
        delete from pro_pay_type where pro_id = #{proId}
    </delete>
	
    <delete id="deleteProPayTypeByIds" parameterType="String">
        delete from pro_pay_type where pro_id in 
        <foreach item="proId" collection="array" open="(" separator="," close=")">
            #{proId}
        </foreach>
    </delete>
    
</mapper>