<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改用户')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-custUser-edit" th:object="${custUser}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>手机号：</label>
				<div class="col-sm-8">
					<input id="phone" name="phone" th:field="*{phone}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>用户：</label>
				<div class="col-sm-8">
					<input id="userCode" name="userCode" th:field="*{userCode}" class="form-control" type="text" required readonly>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>昵称：</label>
				<div class="col-sm-8">
					<input id="nickName" name="nickName" th:field="*{nickName}" class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>真实姓名：</label>
				<div class="col-sm-8">
					<input id="name" name="name" th:field="*{name}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>性别：</label>
				<div class="col-sm-8">
					<input id="sex" name="sex" th:field="*{sex}" class="form-control" type="text" readonly>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用户头像：</label>
				<div class="col-sm-8">
					<input id="photoUrl" name="photoUrl" th:field="*{photoUrl}" class="form-control" type="hidden">
					<a href="javascript:void(0)" onclick='openImg(document.getElementById("photoUrl").value)'>查看头像 </a>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用户状态：</label>
				<div class="col-sm-8">
					<select name="status" th:field="*{status}">
						<option value="">请选择</option>
						<option value="0">未激活</option>
						<option value="1">已激活</option>
						<option value="2">已注销</option>
						<option value="3">系统禁用</option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>用户级别：</label>
				<div class="col-sm-8">
					<input id="level" name="level" th:field="*{level}" class="form-control" type="text" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>证件号：</label>
				<div class="col-sm-8">
					<input id="cardNo" name="cardNo" th:field="*{cardNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>证件类型：</label>
				<div class="col-sm-8">
					<input id="cardType" name="cardType" th:field="*{cardType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>认证状态：</label>
				<div class="col-sm-8">
					<select name="authStatus" th:field="*{authStatus}">
						<option value="0">认证失败</option>
						<option value="1">认证通过</option>
						<option value="">未认证</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">用户来源：</label>
				<div class="col-sm-8">
					<input id="dataSource" name="dataSource" th:field="*{dataSource}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注信息：</label>
				<div class="col-sm-8">
					<input id="remarks"  name="remarks" th:field="*{remarks}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"><span style="color: red; ">*</span>用户编号：</label>
				<div class="col-sm-8">
					<input id="userNo" name="userNo" th:field="*{userNo}" class="form-control" type="text" readonly>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
	<script type="text/javascript" src="../../../util.js"></script>
    <script type="text/javascript">
		var prefix = ctx + "system/custUser";
		$("#form-custUser-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-custUser-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
